{
  "extends": "eslint-config-airbnb",
  "plugins": [
    "react"
  ],
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "arrow-body-style": [0, "as-needed"],
    "arrow-parens": [0, "as-needed"],
    "comma-dangle": [2, "never"],
    "import/no-extraneous-dependencies": ["error", { devDependencies: true, }],
    "linebreak-style": [0],
    "max-len": [1, 121, 2],
    "no-param-reassign": [0],
    "no-underscore-dangle": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/no-array-index-key": [0],
    "react/require-default-props": [0]
  },
  "settings": {
        "import/resolver": {
            "webpack": {
                "config": "./webpack.config.js"
            }
        }
    }
}
